*{
	padding: 0;
	margin: 0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
section.carousel{
	overflow: hidden;
}
section.carousel ul li{
	float: left;
}
section.carousel ul li a img{
	display: block;
	margin:0 auto;
}
section.carousel .car-btn .right,section.carousel .car-btn .left{
	position: absolute;
	top:274px;
	
}
section.carousel .car-btn .left{
	left: 100px;
}
section.carousel .car-btn .right{
	right: 100px;
}
section.container{
	width:1200px;
	height: 500px;
	/*background: lime;*/
	margin:50px auto;
	position: relative;
}
/*参与院校****************************************/
section.container .join-school{
	width: 200px;
	height: 500px;
	/*background: pink;*/
	position: relative;
	float: left;
}
section.container .join-school>p{
	border-bottom: 1px solid #ccc;
	width: 100%;
	height: 50px;
}
section.container .join-school p:first-child{
	border-bottom: none;
	background: rgb(102,102,102);
	color: white;
	text-align: center;
	font-size: 18px;
	line-height: 50px;
}
section.container .join-school p:not(:first-child) a{
	display: block;
	width: 73px;
	height: 25px;
	position: absolute;
}
section.container .join-school p:nth-child(2) a{
	left: 24px;
	top:66px;
	color: red;
}
section.container .join-school p:nth-child(3) a{
	left: 24px;
	top:116px;
}
section.container .join-school p:nth-child(3){
	border-bottom-color: #aaa;
}
section.container .join-school p:not(:first-child) a.r-all{
	left:180px;
}
/*我的位置*************************************/
section.container .mylocation{
	float: left;
	/*background: pink;*/
	width: 1000px;
	height: 686px;
}
section.container .mylocation .loc-nav{
	width: 1000px;
	height: 50px;
	/*background: yellow;*/
	position: relative;
}
section.container .mylocation .loc-nav>div{
	width: 288px;
	height: 50px;
	position: absolute;
	right: 0;
	/* background: lightblue; */
}
section.container .mylocation .loc-nav>div a,section.container .mylocation .loc-nav>div span{
	font-size: 15px;
	position: relative;
	top:18px;
}
section.container .mylocation .loc-nav>div img{
	position: relative;
	top:20px;
	margin-left: 10px;
}
section.container .mylocation .loc-nav>div a{
	color: #555;
}
section.container .line{
	position: absolute;
	top:49px;
	left: 0;
}
section.container .mylocation .loc-inner{
	/*background*/: lightblue;
	width: 923px;
	height: 570px;
	margin: 25px 77px;
}
section.container .mylocation .loc-inner img{
	margin-right: 20px;
	margin-top:20px;
}
/*footer*****************************/
footer{
	margin-top: 260px;
    width:100%;
    height:340px;
    background-color: rgb(51,51,51);
}
footer .inner_c{
    width:1200px;
    height:260px;
    color:white;
    margin:0 auto;
}
footer .inner_c .all{
    width:159px;
    padding-top:40px;
    float: left;
    padding-left:40px;
}
footer .inner_c .all dl{
    width: 100%;
    height:200px;
    border-right:1px solid #cccccc;
}
footer .inner_c .sixth-row dl{
    border-right:0;
}
footer .inner_c .all dl>dt{
    font-size:18px;
    margin-bottom: 20px;
}
footer .inner_c .all dl>dd{
    font-size:14px;
    line-height:30px;
    color: lightgray;
}
footer .down{
    width:100%;
    height:50px;
    background-color: black;
    color: lightgray;
    font-size:14px;
    text-align: center;
    padding:10px 0;
    line-height:20px;
}
